body {
    padding: 50px;
    padding-left: 200px;
    padding-right: 200px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #000;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
}

#container {
    position: relative;
}

img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

button {
    border: 1px solid #808080;
    background-color: #a9a9a9;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}

button:hover {
    background-color: #f00;
    transform: scale(15);
    color: #fff;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    border: 1px solid #00b7ff;
}
