body
  padding 50px;
  padding-left 200px;
  padding-right 200px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color white;
  background black;

p
  text-align justify;

h1
  text-align center;

#container
  position relative;

img
  position absolute;
  left 50%;
  transform: translate(-50%);

button
  border 1px solid grey;
  background-color darkgrey;
  position: fixed;
  bottom 50px;
  left 50%;
  transform: translate(-50%);

button:hover
  background-color red;
  transform scale(15);
  color white;

.footer
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  border: 1px solid #00b7ff
